<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image, class:"item-box-img" if @item.image.attached? %>
      <% unless @item.buyer.nil? %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ 
        <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.shipping.type %>
      </span>
    </div>

    <% if @item.buyer.nil? && user_signed_in? && @item.user_id == current_user.id %>
      <%= link_to '商品の編集', edit_item_path(@item), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item), method: :delete, class:'item-destroy' %>
    <% end %>
    <% if @item.buyer.nil? && user_signed_in? && @item.user_id !=  current_user.id %>
      <%= link_to '購入画面に進む', item_transactions_path(@item), class:"item-red-btn"%>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.type %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.type %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping.type %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.type %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.transportday.type %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <% if user_signed_in? %>
        <div class="favorite-btn" data-num=<%= @item.id %>>
          <span class="favorite-count">お気に入り <%= @item.favorites.length %></span>
        </div>
        <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <span>不適切な商品の通報</span>
        </div>
      <% end %>
    </div>
  </div>
  <%# /商品の概要 %>
  <% if user_signed_in? && @item.buyer.nil? %>
    <h2 class='comment-head'>コメント一覧</h2>
    <div id="all-comments">
      <ul id="comments-indicate">
      <% @item_comments.each do |comment| %>
        <li class="comment">
          <h3 class="comment-user"><%= comment.user.nickname %></h3>
          <div>
            <%= simple_format(comment.text) %>
          </div>
          <% if current_user.id == comment.user.id || current_user.id == @item.user.id %>
            <div class="comment-delete" id="<%= comment.id %>">削除</div>
          <% end %>
          <div class="clearfix"></div>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="comment-box" id="<%= @item.id %>">
      <%= form_with model: [@item, @comment], id: "comment-form", local: true do |f| %>
        <%= f.text_area :text, class: "comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= button_tag class: "comment-btn", type: :submit do %>
          <%= image_tag "comment.png", class:"comment-flag-icon", width:"20", height:"25"%>
          <span>コメントする<span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="links">
    <% if @item.previous.present? %>
      <%= link_to '< 前の商品', item_path(@item.previous), class: "change-item-btn" %>
    <% end %>
    <% if @item.next.present? %>
      <%= link_to '後ろの商品 >', item_path(@item.next), class: "change-item-btn" %>
    <% end %>
  </div>
  <a href="#" class='another-item'><%= @item.category.type %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
